* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }

.header {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(36, 36, 36, 0.2)), url(/img/main.jpeg) no-repeat;
  background-size: cover; }
  .header .brand {
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 65%;
    left: 50%; }
    @media (max-width: 500px) {
      .header .brand {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); } }

.main-name {
  color: white;
  font-size: 4em;
  font-family: "Petrona", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  font-weight: 100;
  text-align: center; }

.sub-name {
  font-family: "Petrona", serif;
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px; }

.button {
  text-align: center;
  margin-top: 20px; }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: all .4s; }
  .main-btn:hover {
    background-color: white;
    color: black; }
